@model AXA_Project.Models.MovieModel

<h3>Details</h3>
<div class="col-4">
	<h4>Rate movie</h4>
	<form method="post" asp-action="RateMovie">
		@Html.DropDownListFor(m => m.Rating, Enumerable.Range(0, 11).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
		@Html.HiddenFor(m => m.Episode_Id)
		<input type="submit" value="Save" />
	</form>
</div>
<div class="col-8">
	<ul>
		<li><b>Title:</b> @Model.Title</li>
		<li><b>Episode Number:</b> @Model.Episode_Id</li>
		<li><b>Director: </b> @Model.Director</li>
		<li><b>Producer: </b> @Model.Producer</li>		
		<li><b>Release date:</b> @Model.Release_Date.ToString("yyyy-MM-dd")</li>
		<li><b>Opening_Crawl: </b> @Model.Opening_Crawl</li>
		<li><b>List of characters: </b>
			<ul>
				@foreach (var item in Model.Characters)
				{
					<li>@item</li>
				}
			</ul>
		</li>
		<li>
			<b>List of planets: </b>
			<ul>
				@foreach (var item in Model.Planets)
				{
					<li>@item</li>
				}
			</ul>
		</li>
		<li>
			<b>List of species: </b>
			<ul>
				@foreach (var item in Model.Species)
				{
					<li>@item</li>
				}
			</ul>
		</li>
		<li>
			<b>List of vehicles: </b>
			<ul>
				@foreach (var item in Model.Vehicles)
				{
					<li>@item</li>
				}
			</ul>
		</li>
	</ul>
</div>

